/* 
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Sacramento', cursive; 
*/

h1 , h2 , h3 , h4 , h5 , h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
p , a {
  font-family: 'Prompt', sans-serif
}

/* react toastify css */

.toastBody {
  font-family: "Atlas Grotesk Web", Helvetica, sans-serif;
  color: #f7f7f7;
  font-size: 0.875rem;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 40px;
  height: 40px;
}

a , Link {
  text-decoration: none;
}

/** -----------------------
** media query section css
** -------------------------  */

@media (width <= 998px) {
  .grid-two-cols {
    grid-template-columns: 1fr;
  }

  .section-services {
    & .grid-three-cols {
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    }
  }

  .section-registration {
    & .container {
      & .reg-img img {
        width: 60%;
        height: auto;
      }
    }
  }
}

@media (width <= 798px) {
  html {
    font-size: 56.25%;
  }

  .section-registration {
    & .container {
      & .reg-img img {
        width: 50%;
        height: auto;
      }
    }

    & .registration-form {
      & input {
        width: 100%;
        padding: 0.6rem 0.6rem;
      }
    }
  }
}
